<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Asignaturas</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</link>
</head>

<body>
	<h1>Listado de Asignaturas matriculadas</h1>

	<button><a href="/asignatura/listado/conaltasybajas/{tipo}">Ir a filtrar</a></button>
	<button><a href="/home">Volver al inicio</a></button>
	<br>
	<br>

	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Tipo</th>
			<th>Número de Créditos</th>
			<th>Número de Alumnos Matriculados</th>
		</tr>
		<!-- Iterar sobre las asignaturas -->
		<tr th:each="asignatura : ${asignaturas}">
			<td th:text="${asignatura.id}"></td>
			<td th:text="${asignatura.nombre}"></td>
			<td th:text="${asignatura.descripcion}"></td>
			<td th:text="${asignatura.tipo}"></td>
			<td th:text="${asignatura.numeroCreditos}"></td>
			<td th:text="${asignatura.numeroAlumnosMatriculados}"></td>

		</tr>
	</table>
	<br>
	<h2>Los ID de las asignaturas que aparecen son los que están dados de alta</h2>

</body>

</html>