<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Asignaturas</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</link>
</head>

<body>

	<img th:src="@{/images/spring.png}" alt="Imagen de Spring para demo"></img>
	<h1>¡Bienvenido al Sistema de Asignaturas!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu lorem eu nisi fermentum luctus eget in
		arcu.</p>
	<p>Nullam nec justo vel elit dapibus sagittis non ut tellus. Vestibulum ante ipsum primis in faucibus orci luctus et
		ultrices posuere cubilia Curae.</p>
	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ullamcorper
		ex vel nunc fringilla ultrices.</p>

	<button><a href="/asignatura/listado/con">Ver listado de asignaturas con alumnos matriculados</a></button><br><br>
	<button><a href="/asignatura/listado/sin">Ver listado de asignaturas sin alumnos matriculados</a></button><br><br>
	<button><a href="/asignatura/listado/conaltasybajas">Ver listado de asignaturas con incrementar o decrementar
			alumnos</a></button>
</body>

</html>